# Project exclude paths
/.gradle/
/auth-service/build/
/auth-service/build/classes/java/main/
/build/
/build/classes/java/main/
/chat-service/build/
/chat-service/build/classes/java/main/
/config-server/build/
/config-server/build/classes/java/main/
/mail-service/build/
/mail-service/build/classes/java/main/
/user-service/build/
/user-service/build/classes/java/main/
.env
Dockerfile
docker-compose.yml